*~
*.fasl
*.tex*
*.aux
*.log
*.pdf
*.dvi
*.fdb_latexmk
*.fls
/auto/
/test-output.synctex.gz
/cl-tikz-tilings/auto/
*.gz
/cl-tikz-tilings/examples/auto/
/README.html
/cl-tikz-tilings/output-examples/
*.el
